@{
    ViewData["Title"] = "Trình quản lý website Cosmetic";
    Layout = "~/Views/Admin/_AdminIndexLayout.cshtml";
}
@using Microsoft.AspNetCore.Http;

<div class="container-fluid index">
    <table>
        <tr>
            <th>Cosmectic</th>
            
        </tr>
       
        <tr>
            <td>
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header glow" style="font-family: cursive; text-align:center">
                            Xin chào <b>@Context.Session.GetString("Name")</b> đến trang admin  

                        </h1>
                    </div>
                    </div>
            </td>
            
        </tr>
    </table>
</div>

